.blogDetails {
    &__wrapper {
        width: 100%;
        position: relative;
        &-header {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-by {
                font-size: 1.2rem;
                color: var(--clr-font-low);
            }
            &-authorName {
                padding: 0 2px;
                font-weight: bold;
                &:hover {
                    color: var(--clr-primary) !important;
                }
            }
            &-title {
                font-size: 2.5rem;
                font-weight: 900;
                text-align: center;
                margin: 0;
                color: var(--clr-font);
            }
            &-tag {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                &-datePost {
                    font-size: 1.2rem;
                    color: var(--clr-font-low);
                    padding: 10px;
                    cursor: pointer;
                    i {
                        color: var(--clr-primary);
                        padding: 0 3px;
                    }
                    span {
                        &:hover {
                            color: var(--clr-primary);
                        }
                    }
                }
                &-category {
                    font-size: 1rem;
                    color: var(--clr-font-low);
                    cursor: pointer;
                    padding: 0 10px;
                    i {
                        color: var(--clr-primary);
                        padding: 0 3px;
                    }
                    span {
                        &:hover {
                            color: var(--clr-primary);
                        }
                    }
                }
            }
        }
        &-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-image {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 30px 50px;
                &-pic {
                    width: 100%;
                    border: none;
                    border-radius: 30px;
                    // filter: blur(1px) grayscale(1%);
                    box-shadow: 20px 15px 30px -10px black;
                }
            }
            &-content {
                padding: 0 10%;
                &-title {
                    font-size: 2rem;
                    font-weight: 500;
                    color: var(--clr-font);
                    margin: 0;
                    padding: 10px 0;
                }
                &-text {
                    color: var(--clr-font-low);
                    font-size: 1.6rem;
                    &:focus,
                    &:visited {
                        background-color: (--clr-primary);
                    }
                }
            }
        }
        &-control {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 250ms ease-in-out;
            padding-bottom: 10px;
            width: 100%;
            &-btn {
                background-size: 200%;
                display: inline-block;
                padding: 0.375rem 2rem;
                padding-top: 5px;
                padding-bottom: 5px;
                border: none;
                min-height: 2.5rem;
                border-radius: 30px;
                text-align: center;
                font-weight: normal;
                outline: none;
                text-decoration: none;
                cursor: pointer;
                color: #fff;
                transition: all 350ms ease;

                box-shadow: 0 1px 2px 0 rgba(var(--clr-primary), 50%);
                background-color: var(--clr-primary);
                background-image: linear-gradient(
                    90deg,
                    var(--clr-primary) 0,
                    var(--clr-primary-light) 50%,
                    var(--clr-primary) 100%
                );
                box-shadow: 0 1px 2px 0 rgba(var(--clr-primary), 0.5);
                color: #fff;
                &:hover {
                    background-color: var(--clr-primary-light);
                    box-shadow: 0 1px 3px 0 rgba(var(--clr-primary), 0.5);
                    color: #fff;
                    background-color: var(--clr-primary-light);
                    background-position: right center;
                    box-shadow: 0 1px 3px 0 rgba(var(--clr-primary-light), 50%);
                    transition: all 250ms ease;
                }
            }
        }
    }
    &__action {
        padding: 0 10%;
    }
    &__recommend {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title {
            padding: 20px 0;
            &-text {
                font-size: 2rem;
            }
            &::after {
                width: 100%;
            }
        }
        &-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}
