$color-primary : #212121;
$color-primary-dark : #000000;
$color-primary-light: #484848;
$color-secondary: #1b5e20;
$color-secondary-dark: #003300;
$color-secondary-light: #058301;
$text-color: rgb(235, 235, 235);
$text-color-light: #00600f;